<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the country_init() hook (in hooks/country.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="country-CTR_Code-<%%VALUE(CTR_Code)%%>" class="country-CTR_Code"><%%VALUE(CTR_Code)%%></td>
		<td id="country-CTR_Name-<%%VALUE(CTR_Code)%%>" class="country-CTR_Name"><%%VALUE(CTR_Name)%%></td>
