<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(RDO_ID)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Short Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(RDO_ShortName)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(RDO_LongName)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Website</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(RDO_Website)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Logo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var RDO_LogoSrc1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(RDO_Logo)%%>';
				var RDO_LogoSrc2<%%RND1%%>='thumbnail.php?t=radiostation&f=RDO_Logo&i=<%%VALUE(RDO_Logo)%%>&v=dv'
			</script>
			<a href="#" onclick="$('RDO_LogoImg<%%RND1%%>').src=($('RDO_LogoImg<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && RDO_LogoSrc1<%%RND1%%> != '<%%TRANSLATION(ImageFolder)%%>' ? RDO_LogoSrc1<%%RND1%%> : RDO_LogoSrc2<%%RND1%%>); return false;"><img id="RDO_LogoImg<%%RND1%%>" src="thumbnail.php?t=radiostation&f=RDO_Logo&i=<%%VALUE(RDO_Logo)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Country</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="RDO_CTR_Code<%%RND1%%>"><%%COMBOTEXT(RDO_CTR_Code)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="radiostation-children"></div>
</div>

<script>
	$j(function(){
		/* prevent loading child records in multiple DVP */
		if($j('[id=radiostation-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'radiostation',
				SelectedID: '<%%VALUE(RDO_ID)%%>',
				Operation: 'show-children-printable'
			},
			'radiostation-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function(){
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

