<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="radiostation_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="radiosong_view.php?filterer_ROS_RDO_ID=<%%URLVALUE(RDO_ID)%%>&<%%EMBEDDED%%>" id="radiosong_link"><i class="glyphicon glyphicon-list-alt"></i> Song by Station</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="radiosong_view.php?filterer_ROS_RDO_ID=<%%URLVALUE(RDO_ID)%%>&<%%EMBEDDED%%>" id="xs_radiosong_link"><i class="glyphicon glyphicon-list-alt"></i> Song by Station</a>
			<input type="hidden" id="radiosong_hclink" value="radiosong_view.php?filterer_ROS_RDO_ID=<%%URLVALUE(RDO_ID)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="radiostation_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="RDO_ID" class="control-label col-lg-3">ID <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#RDO_ID-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="RDO_ID-description"><div class="alert alert-info">The Key value of the Radio Station</div></span>

						<div class="form-control-static" id="RDO_ID"><%%VALUE(RDO_ID)%%></div>
					</div>
				</div>

				<div class="form-group">
					<label for="RDO_ShortName" class="control-label col-lg-3">Short Name<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#RDO_ShortName-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="RDO_ShortName-description"><div class="alert alert-info">A short name for the radio station</div></span>

						<input maxlength="30" type="text" class="form-control" name="RDO_ShortName" id="RDO_ShortName" value="<%%VALUE(RDO_ShortName)%%>" required><div class="text-danger vspacer-md" id="RDO_ShortName-uniqueness-note" style="display: none;"><%%TRANSLATION(unique field error)%%></div>
					</div>
				</div>

				<div class="form-group">
					<label for="RDO_LongName" class="control-label col-lg-3">Name<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#RDO_LongName-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="RDO_LongName-description"><div class="alert alert-info">The Full Name of the station</div></span>

						<input maxlength="80" type="text" class="form-control" name="RDO_LongName" id="RDO_LongName" value="<%%VALUE(RDO_LongName)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<label for="RDO_Website" class="control-label col-lg-3">Website<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#RDO_Website-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="RDO_Website-description"><div class="alert alert-info">The website from where the song information is found.</div></span>

						<input maxlength="80" type="text" class="form-control" name="RDO_Website" id="RDO_Website" value="<%%VALUE(RDO_Website)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-lg-3">Logo <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#RDO_Logo-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="RDO_Logo-description"><div class="alert alert-info">Maximum file size allowed: 500 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>

						<div class="form-control-static"><div class="pull-left">

						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(RDO_Logo)%%>" data-lightbox="radiostation_dv"><img src="thumbnail.php?i=<%%VALUE(RDO_Logo)%%>&t=radiostation&f=RDO_Logo&v=dv" class="img-thumbnail" id="RDO_Logo-image"></a>
</div>

												<div class="pull-right" style="overflow-x: hidden;">
							<div class="hidden-md hidden-lg vspacer-lg"></div>
							<%%UPLOADFILE(RDO_Logo)%%>
							<%%REMOVEFILE(RDO_Logo)%%>
						</div>
						<div class="clearfix"></div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<label for="RDO_CTR_Code" class="control-label col-lg-3" data-parent_link="view_parent_modal">Country <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#RDO_CTR_Code-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="RDO_CTR_Code-description"><div class="alert alert-info">The country to which the Radio station belongs.</div></span>

						<div class="row form-control-static"><div class="col-xs-11"><%%COMBO(RDO_CTR_Code)%%><%%PLINK(RDO_CTR_Code)%%><%%ADDNEW(country)%%></div></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="radiostation_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="radiostation-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode){
				setTimeout(function(){
					window.parent.jQuery('.modal').modal('hide');
				}, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });

			if(embedded_mode){
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function(){
					$j('a[href]:not([href^=#]):not([href^=javascript]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function(){
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode){
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'radiostation',
						SelectedID: '<%%VALUE(RDO_ID)%%>',
						Operation: 'show-children'
					},
					'radiostation-children'
				);
			}

			if(!embedded_mode){
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function(){
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function(){
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			/* find and hide parent links if field label has data 'parent_link' set to 'view_parent_hidden' */
			$j('label[data-parent_link=view_parent_hidden]').each(function(){
				$j(this).parents('.form-group').find('.view_parent').hide();
			});

			$j('form').on('click', '.view_parent', function(){
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length){
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length){
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}'){
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link){
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function(){
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});

			enforce_uniqueness('radiostation', 'RDO_ShortName');

			/* load admin tools for admin user */
			if(!add_new_mode){
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=radiostation&id=<%%URLVALUE(RDO_ID)%%>',
					function(resp){
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=radiostation&id=<%%URLVALUE(RDO_ID)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function(){
				if($j('#deselect.btn-warning').length){
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>