<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the radiostation_init() hook (in hooks/radiostation.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="radiostation-RDO_ShortName-<%%VALUE(RDO_ID)%%>" class="radiostation-RDO_ShortName"><%%VALUE(RDO_ShortName)%%></td>
		<td id="radiostation-RDO_LongName-<%%VALUE(RDO_ID)%%>" class="radiostation-RDO_LongName"><%%VALUE(RDO_LongName)%%></td>
		<td id="radiostation-RDO_Website-<%%VALUE(RDO_ID)%%>" class="radiostation-RDO_Website"><%%VALUE(RDO_Website)%%></td>
		<td id="radiostation-RDO_Logo-<%%VALUE(RDO_ID)%%>" class="radiostation-RDO_Logo"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(RDO_Logo)%%>" data-lightbox="radiostation-RDO_Logo"><img src="thumbnail.php?i=<%%VALUE(RDO_Logo)%%>&t=radiostation&f=RDO_Logo&v=tv" class="img-thumbnail"></a></td>
		<td id="radiostation-RDO_CTR_Code-<%%VALUE(RDO_ID)%%>" class="radiostation-RDO_CTR_Code"><%%VALUE(RDO_CTR_Code)%%></td>
