<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the radiosong_init() hook (in hooks/radiosong.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="radiosong-ROS_SNG_ID-<%%VALUE(ROS_ID)%%>" class="radiosong-ROS_SNG_ID text-right"><%%SELECT%%><%%VALUE(ROS_SNG_ID)%%><%%ENDSELECT%%></td>
		<td id="radiosong-ROS_RDO_ID-<%%VALUE(ROS_ID)%%>" class="radiosong-ROS_RDO_ID text-right"><%%SELECT%%><%%VALUE(ROS_RDO_ID)%%><%%ENDSELECT%%></td>
		<td id="radiosong-ROS_START-<%%VALUE(ROS_ID)%%>" class="radiosong-ROS_START"><%%SELECT%%><%%VALUE(ROS_START)%%><%%ENDSELECT%%></td>
		<td id="radiosong-ROS_END-<%%VALUE(ROS_ID)%%>" class="radiosong-ROS_END"><%%SELECT%%><%%VALUE(ROS_END)%%><%%ENDSELECT%%></td>
