<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the song_init() hook (in hooks/song.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="song-SNG_Title-<%%VALUE(SNG_ID)%%>" class="song-SNG_Title"><%%SELECT%%><%%VALUE(SNG_Title)%%><%%ENDSELECT%%></td>
		<td id="song-SNG_Artist-<%%VALUE(SNG_ID)%%>" class="song-SNG_Artist"><%%SELECT%%><%%VALUE(SNG_Artist)%%><%%ENDSELECT%%></td>
