<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the song_init() hook (in hooks/song.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="song-SNG_Title-<%%VALUE(SNG_ID)%%>" class="song-SNG_Title"><%%VALUE(SNG_Title)%%></td>
		<td id="song-SNG_Artist-<%%VALUE(SNG_ID)%%>" class="song-SNG_Artist"><%%VALUE(SNG_Artist)%%></td>
